*{  
    box-sizing: border-box;
    margin:0;
    padding:0 ;
    text-decoration: none;
    list-style: none;
}
html{
    font-size: 62,5%;
}
/* Barra Navegacion  */
.nav-titulo {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Rock Salt', cursive;
    margin: 0;
    font-size: 30px;
    color: #ffffff;
    
}
.nav-bar{
    width: 100%;
    min-width: 320px;
    height: 80px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right-section{
    width: 250px;
    height: auto;
    font-size: 16px;
    font-family: 'poetsen one';
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right-section a {
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none;
    
}

.nav-right-section a:hover {
    color:slategray;
}
.logo-barberia {
    width: 120px;
    height: auto;
    border-radius: 35%;
    margin-right: 25px;
    object-fit: contain;
}
/* Seccion Presentacion */

.hero{
    min-height: 450px;
    text-align: center;
    margin-bottom: 30px;   
}
.hero h1{
    font-family: 'Rock salt';
}
.hero h2{
    font-family: 'Rock salt';
    font-size: 20px;
    padding: 1.5rem;
}
.hero-principal{
    padding: 1rem;
  }
.hero-imagen-barberia{
    padding: 1rem;
}
.hero-imagen-barberia{
    width: 600px;
    height: 500px;
    border-radius: 30%;
    margin: 0 auto;
  }
  
  /* Seccion Clientes */
  .imagen-cliente{
    width: 700px;
    height: 700px;
  }
  
/* Estilos Generales  */
.seccion-oscura{
       background: linear-gradient(207.8deg, #524f4c 16.69%, #0c0c0c 100%);
}

@media screen and (max-width:767px) {
    .nav-bar{
        display:none;
    }    
}
      
      
      
      
      
      
      